/* цвет основоного текста #757575
черный цвет #212121
белый цвет #FFFFFF
белый прозрачный цвет текста rgba(255, 255, 255, 0.6)
акцент # 2196F3
вторичный цвет фона #F5F4FA */
/* темный цвет фона #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-dark-color: #188ce8;
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --work-examples-bg-color: rgba(47, 48, 58, 0.8);
  --modal-overlay_bg-color: rgba(0, 0, 0, 0.2);
  --icons-light-grey: #afb1b8;
  --icons-transparent-white: rgba(255, 255, 255, 0.1);
  --card-set-gap: 30px;
  --center-border: 1px solid #eeeeee;
  --footer-form-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --footer-form-border: 1px solid rgba(255, 255, 255, 0.3);
  --modal-form-border: 1px solid rgba(33, 33, 33, 0.2);
  --filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.centered {
  text-align: center;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Header */
.page-header {
  border-bottom: var(--center-border);
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav > nav {
  display: flex;
  align-items: center;
}
/* Site-Nav */
.site-nav {
  margin-left: 93px;
}
.site-nav .current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color var(--transition-timing);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav,
.header-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .item + .item,
.header-contacts .item + .item {
  margin-left: 50px;
}

/* Header Contacts */
.header-contacts {
  margin-left: auto;
}
.header-contacts a {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  transition: color var(--transition-timing);
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}
.header-icons {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;

  background-color: var(--dark-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-timing);
}
.hero-button:hover,
.hero-button:focus {
  background: var(--accent-dark-color);
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--modal-overlay_bg-color);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-timing);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-timing), visibility var(--transition-timing);
}
.modal > button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);

  transition: color var(--transition-timing);
}
.modal > button:hover,
.modal > button:focus {
  color: var(--accent-color);
}
.close-icon {
  fill: currentColor;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-field:last-child {
  margin-bottom: 20px;
}
.modal-field:focus-within .modal-icon {
  fill: var(--accent-color);
}
.modal-field textarea {
  resize: none;
}
.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-input {
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  font: inherit;
  border-radius: 4px;
  outline: none;
  border: var(--modal-form-border);
  transition: border-color var(--transition-timing);
}
.modal-input:not(:last-child) {
  padding-left: 42px;
}
.modal-input::placeholder {
  opacity: 50%;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-icon {
  position: absolute;
  top: 32px;
  left: 12px;
  fill: inherit;

  transition: fill var(--transition-timing);
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.policy-text {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.policy-text a {
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--transition-timing), border-color var(--transition-timing);
  /* box-shadow var(--transition-timing); */
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-origin: border-box; */
  border-color: transparent;
}
/* .checkbox-input:hover + .checkbox-icon {
  box-shadow: var(--footer-form-shadow);
} */
.modal-form > .form-button {
  margin-right: auto;
  margin-left: auto;
}
/* Sections */
.section-title,
.list-title,
.coworkers-list-title {
  color: var(--title-text-color);
}
.white {
  color: var(--white-color);
}
.black {
  color: var(--title-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-text {
  font-size: 14px;
  line-height: 1.71;
}
/* Advantadges Section */
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages .item {
  width: 270px;
}
.advantages-icon {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
}

/* Examples Section */
.examples {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  /* margin: -15px; */
}
.examples > .item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  /* margin: 15px; */
}
.examples .list-title {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 27px 0;
  background-color: var(--work-examples-bg-color);
}

/* Coworkers/Team Section */
.coworkers {
  background-color: var(--secondary-background-color);
}
.coworkers-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.coworkers-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
.team {
  display: flex;
  margin: -15px;
  /* margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap)); */
}
.team > .item {
  margin: 15px;
  /* flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap); */

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  margin: 30px 0;
}
.networks {
  display: flex;
  justify-content: center;
}
.networks > .item + .item {
  margin-left: 10px;
}
.networks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-light-grey);

  transition: fill var(--transition-timing), background-color var(--transition-timing);
}
.networks a:hover,
.networks a:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}
/* Clients */
.clients {
  display: flex;
}
.clients > .item + .item {
  margin-left: 30px;
}
.clients-icon {
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid var(--icons-light-grey);
  border-radius: 4px;
  fill: var(--icons-light-grey);

  transition: fill var(--transition-timing), border-color var(--transition-timing);
}
.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */
footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  display: flex;
}
.address {
  margin-top: 20px;
  margin-right: 70px;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts > .item {
  margin-top: 9px;
}
.footer-contacts a {
  color: var(--transparent-white-color);
  text-decoration: none;

  transition: color var(--transition-timing);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

.footer-list-title {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.footer-icons {
  display: flex;
}
.footer-icons > .item + .item {
  margin-left: 10px;
}
.footer-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  background-color: var(--icons-transparent-white);
  border-radius: 50%;

  transition: background-color var(--transition-timing);
}
.footer-icons a:hover,
.footer-icons a:focus {
  background-color: var(--accent-color);
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.form-field {
  display: flex;
}
.footer-input {
  min-width: 358px;
  min-height: 50px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  border: var(--footer-form-border);
  border-radius: 4px;

  background-color: inherit;
  box-shadow: var(--footer-form-shadow);
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: var(--footer-form-shadow);
  transition: background-color var(--transition-timing);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--accent-dark-color);
}
.button-icon {
  margin-left: 10px;
}

/* Portfolio Filters*/
.filters {
  display: flex;
  justify-content: center;
}
.filters.list {
  margin-bottom: 50px;
}
.filters > .item + .item {
  margin-left: 8px;
}
.filters button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: color var(--transition-timing), background-color var(--transition-timing),
    box-shadow var(--transition-timing);
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: var(--filters-shadow);
}

/* Portfolio Cards */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card-set .item {
  display: block;
  text-decoration: none;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  transition: box-shadow var(--transition-timing);
}
.card-set .item:hover,
.card-set .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set .item:hover .card-thumb::before,
.card-set .item:focus .card-thumb::before {
  opacity: 0.9;
  transform: translateY(0);
}
.card-set .item:hover .card-description,
.card-set .item:focus .card-description {
  opacity: 1;
  transform: translateY(0);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity var(--transition-timing), transform var(--transition-timing);
}
.card-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity var(--transition-timing), transform var(--transition-timing);
}
.card-content {
  padding: 20px 24px;
  border-right: var(--center-border);
  border-left: var(--center-border);
  border-bottom: var(--center-border);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
